<footer class="bottom-nav">
    <nav>
      <ul>
        <li><a href="/"><i class="fas fa-home"></i> HOME PAGE</a></li>
        <li><a href="/auth"><i class="fas fa-search"></i> LOG IN</a></li>
      </ul>
    </nav>
  </footer>