<footer class="bottom-nav">
  <nav>
    <ul>
      <li>
        <a href="/dashboard/add-note">+ Add Note</a>
      </li>
      <li>
        <a href="/dashboard">Dahsboard</a>
      </li>
      <li>
        <a href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</footer>
