<footer class="bottom-nav">
  <nav>
    <ul>
      <li>
        <a href="/">HOME PAGE</a>
      </li>
      <li>
        <a class="link" id="loginButton">LOGIN</a>
      </li>
    </ul>
  </nav>
</footer>
