<footer class="bottom-nav">
  <nav>
    <ul>
      <li>
        <a href="/dashboard"><i class="fas fa-home"></i>+ Add Note</a>
      </li>
      <li>
        <a href="/dashboard"><i class="fas fa-home"></i>Dahsboard</a>
      </li>
      <li>
        <a href="/logout"><i class="fas fa-search"></i> Log Out</a>
      </li>
    </ul>
  </nav>
</footer>
