<footer class="bottom-nav">
  <nav>
    <ul>
      <li>
        <a href="/">Home Page</a>
      </li>
      <li>
        <a class="link loginButton" id="loginButton-footer">Login</a>
      </li>
    </ul>
  </nav>
</footer>
