:root {
  /* Background */
  --background-color: #1a1a1a;
  --background-color-lighter: #282828;

  /* Primary Colors */
  --primary-light-blue: #adfcfc;
  /* Light Bluish Color */
  --primary-orange: #ffa500;
  /* Orange Color */

  /* Font */
  --header-font-family: 'Inconsolata', monospace;
  --body-font-family: 'Inconsolata', monospace;


  /* Button */
  --button-font-color: #1a1a1a;
  /* Dark Button Font Color */
  --button-border-color: #84ffff;
  /* Light Bluish Border Color */

  /* Dynamic Width and Heights */
  --bottom-bar-height: 40px;
}

body {
  background-color: var(--background-color);
  color: var(--primary-light-blue);
  font-family: var(--body-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--primary-light-blue);
  font-family: var(--header-font-family);
}

p,
a,
span {
  color: var(--primary-light-blue);
  font-family: var(--body-font-family);
  font-size: 21px;
}

button {
  background-color: var(--primary-orange);
  color: var(--button-font-color);
  border: 2px solid var(--button-border-color);
  font-family: var(--body-font-family);
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: var(--primary-light-blue);
  color: var(--background-color);
}

input,
textarea {
  background-color: var(--background-color);
  color: var(--primary-light-blue);
  border: 2px solid var(--primary-light-blue);
  font-family: var(--body-font-family);
  padding: 10px;
}

input::placeholder,
textarea::placeholder {
  color: var(--primary-orange);
}

.prevent-select {
  user-select: none;
  /* Prevent text selection */
}


/* Main container and item general styles */
/* Main container and item general styles */
/* Main container and item general styles */

.main-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  /* padding: 20px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* Layout items vertically */
  align-items: center;
  /* Center items horizontally */
}

.overlaying-container {
  position: relative;
  /* Ensure absolute positioning of inner divs is relative to this container */
  width: 100%;
  /* Adjust width as needed */
  height: 100%;
  /* Adjust height as needed */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 20px; */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* Layout items vertically */
  align-items: center;
  /* Center items horizontally */
  justify-content: center;
}


.item {
  width: 100%;
  max-width: 100%;
  margin-bottom: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

/* Footer (bottom bar) styles */
/* Footer (bottom bar) styles */
/* Footer (bottom bar) styles */

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--background-color);
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(5, 5, 5, 0.08);
  /* Optional: adds a shadow at the bottom */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: var(--bottom-bar-height);
}

.bottom-nav nav {
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

.bottom-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-self: center;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 16px;
}

.bottom-nav li {
  display: inline-block;
}

.bottom-nav a {
  color: var(--primary-orange);
  text-decoration: none;
}

.bottom-nav a i {
  display: block;
  /* Ensures icons are displayed correctly */
  font-size: 20px;
  /* Adjust icon size as needed */
  margin-bottom: 5px;
  /* Optional: Adds space between icon and label */
}


/* ascii art styles */
/* ascii art styles */
/* ascii art styles */

.asciiart-wrap {
  /* background: #000; */
  z-index: -1;
  position: absolute;
  max-width: 100%;
  max-height: calc(100vh - var(--bottom-bar-height));
  overflow: hidden;
}

.asciiart {
  -webkit-background-clip: text;
  background-clip: text;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  /* text-fill-color: transparent; */
  word-break: break-all;
  color: var(--primary-light-blue);
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px;
  padding: 3px;
  text-align: justify;
}

.art-3 {
  background-image: url('../img/img-text-7.jpg');
  background-size: cover;
  /* Ensure background covers the element */
  background-repeat: repeat;
  animation: slideRight 150s linear infinite;
  /* Adjust animation duration as needed */
}

@keyframes slideRight {
  0% {
    background-position: 0 0;
    /* Initial background position */
  }

  100% {
    background-position: 100vw 0;
    /* Move background position to viewport width */
  }
}

/* MODAL STYLE */
/* MODAL STYLE */
/* MODAL STYLE */

/* Modal style */
.link {
  color: var(--primary-light-blue);
  font-family: var(--body-font-family);
  font-size: 21px;
  cursor: pointer;
  text-decoration: underline;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black with transparency */
}

/* Modal content */
.modal-content {
  background-color: var(--background-color);
  color: var(--primary-light-blue);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  max-width: 600px;
}

.modal-content .modal-form-container {
  color: var(--primary-light-blue);
  display: flex;
  gap: 16px;
  flex-direction: column;
  justify-content: center;
}

.modal-form-container form {
  width: 100%;
}

/* Close button */
.close {
  color: var(--primary-orange);
  float: right;
  font-size: 42px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--primary-light-blue);
  text-decoration: none;
  cursor: pointer;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}

/* DASHBOARD PAGE */
/* DASHBOARD PAGE */
/* DASHBOARD PAGE */

.notes-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.note-preview {
  background-color: rgb(31, 31, 31);
  position: relative;
  padding-left: 32px;
  text-decoration: none;
}

.note-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: var(--primary-orange);
}

.note-preview h3,
p {
  margin: 8px 0;
}

.note-preview p {
  font-size: small;
}


/* ADD NOTE PAGE */
/* ADD NOTE PAGE */
/* ADD NOTE PAGE */

.add-note-form {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.add-note-form input {
  background-color: var(--background-color-lighter);
  color: var(--primary-orange);
  font-size: larger;
  font-weight: bold;
  border: none;
}

.add-note-form input::placeholder {
  color: var(--primary-orange);
  font-weight: bold;
}

.add-note-form textarea {
  height: 100%;
  min-height: 300px;
  background-color: var(--background-color-lighter);
  color: var(--primary-light-blue);
  font-size: large;
  font-weight: bold;
  border: none;
  resize: vertical;
}

.add-note-form textarea::placeholder {
  color: var(--primary-orange);
  font-weight: bold;
}

.add-note-form button {
  font-weight: bold;
  width: 100%;
  max-width: 300px;
  border: none;
}